<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/favicon.jpeg" type="image/jpeg">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <title>404 | Not found.</title>
</head>
<body class="h-100 fs-5" style="display:flex;align-items:center;justify-content:center">
    <p style="font-weight:400">404 | This page could not be found.</p>
</body>
</html>